.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: var(--color-bg-main);
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  height: 44px;
  background-color: var(--color-bg-header);;
}

.chat-avatar-chat {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
}

.chat-name-chat {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-text-main);
  font-size: 16px;
  margin: 0;
  padding-left: 15px;
}

.chat-icons {
  display: flex;
  gap: 10px;
  margin-left: auto;
  align-items: center;
}

.icon-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-text-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-dropdown-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
  width: 70px;
}

.video-dropdown-group:hover {
  cursor: pointer;
  background-color: var(--color-bg-hover);
  border-radius: var(--border-radius-icon-hover);
  transition: background-color 0.25s ease-in-out;
}

.chevron-icon,
.video-call-icon {
  color: var(--color-text-main);
  outline: none;
}

.search-icon {
  color: var(--color-text-main);
  width: 40px;
  height: 40px;
}

.search-icon:hover {
  cursor: pointer;
  background-color: #2f3030;
  border-radius: 20px;
  transition: background-color 0.25s ease-in-out;
}

.menu-icon {
  color: var(--color-text-main);
  width: 40px;
  height: 40px;
}

.video-dropdown-group:hover,
.search-icon:hover,
.menu-icon:hover {
  cursor: pointer;
  background-color: var(--color-bg-hover-alt);
  border-radius: var(--border-radius-icon-hover);
  transition: background-color 0.20s ease-in-out;
}

.chat-messages {
  flex: 1;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
}

.message {
  font-size: var(--font-size-message);
  font-weight: 400;
  color: var(--color-text-main);
  border-radius: var(--border-radius-message);
  max-width: 65%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 8px 12px;
  box-sizing: border-box;
}

.message.them {
  background-color: var(--color-bg-message-them);
  display: flex;
  align-self: flex-start;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.message.me {
  background-color: var(--color-bg-message-me);
  display: flex;
  align-self: flex-end;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-text {
  display: flex;
  flex-direction: row;
  font-size: 14.2px;
  white-space: normal;
  word-break: break-word;
}

.message-meta {
  display: flex;
  gap: 0.25rem;
  white-space: nowrap;
  padding: 10px 0px 0px 20px;
}

.message-time {
  font-size: 11px;
  color: var(--color-text-secondary);
  text-align: right;
  align-self: center;
}

.message-tick {
  color: var(--color-text-secondary);
}

.chat-form {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--color-bg-form);
  margin: 10px;
  border-radius: var(--border-radius-form);
}

.input-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  outline: none;
}

.input-wrapper input {
  flex: 1;
  border: none;
  padding: 10px 10px 5px 20px;
  font-size: 16px;
  color: var(--color-text-main);
  background-color: transparent;
  outline: none;
}

.chat-form button {
  background: none;
  border: none;
  color: var(--color-text-main);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.form-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plus-icon:hover,
.emoji-icon:hover {
  cursor: pointer;
  background-color: var(--color-bg-hover);
  border-radius: var(--border-radius-icon-hover);
  transition: background-color 0.20s ease-in-out;
}

.send-button:hover {
  cursor: pointer;
  background-color: var(--color-bg-send-hover);
  color: var(--color-text-send-hover);
  border-radius: var(--border-radius-icon-hover);
  transition: background-color 0.20s ease-in-out;
}