@import './variables.css';

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 10px;
  background-color: var(--color-bg-main);
}

.home-title-container {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0px 15px;
}

.home-title {
  display: flex;
  text-align: left;
  text-decoration: none;
  color: var(--color-text-main);
  font-size: var(--font-size-title);
  font-weight: 500;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  margin: 20px 0px 15px 0px;
}

.chat-search-input {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  background-color: var(--color-bg-search-input);
  color: var(--color-text-main);
  outline: none;
  width: 100%;
}

.chat-search-input:hover {
  border: 2px solid;
  border-color: var(--color-text-secondary);
  color: var(--color-text-secondary);
  transition: border-color 0.20s ease-in-out;
}

.chat-search-input:focus {
  border: 2px solid;
  border-color: var(--color-bg-send-hover);
  color: var(--color-text-main);
}