:root {
  /* Colores de fondo */
  --color-bg-main: #1f2020;
  --color-bg-header: #242525;
  --color-bg-message-them: #242626;
  --color-bg-message-me: #144d37;
  --color-bg-form: #242626;
  --color-bg-search-input: #2d2d2d;
  --color-bg-hover: #2f3030;
  --color-bg-hover-alt: #333535;
  --color-bg-card-hover: #353636;
  --color-bg-send-hover: #25d366;

  /* Colores de texto */
  --color-text-main: #fafafa;
  --color-text-secondary: #ffffff99;
  --color-text-send-hover: #1f2020;

  /* Tipografía */
  --font-size-title: 30px;
  --font-size-chat-name: 16px;
  --font-size-chat-home-name: 17px;
  --font-size-chat-preview: 14px;
  --font-size-message: 14.2px;
  --font-size-meta: 11px;
  --font-size-time-home: 12px;

  /* Otros */
  --border-radius-form: 30px;
  --border-radius-icon-hover: 20px;
  --border-radius-message: 8px;
  --border-radius-chat-card: 10px;
  
}
